<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">


	<!-- 要调用的工作类 --> 
	<bean id="timerService" class="com.lsp.pub.service.TimerService"></bean> 
	
	
	<!-- 定义调用对象和调用对象的方法 --> 
	<bean id="updVoteRanking" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<!-- 调用的类 --> 
		<property name="targetObject"> 
			<ref bean="timerService"/> 
		</property> 
		<!-- 调用类中的方法 --> 
		<property name="targetMethod"> 
			<value>updVoteRanking</value> 
		</property> 
	</bean> 
	<!-- 定义触发时间 --> 
	<bean id="freeMarker" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail"> 
			<ref bean="updVoteRanking"/> 
		</property> 
		<!-- cron表达式 --> 
		<property name="cronExpression"> 
			<value>0 59 23 * * ?</value> 
		</property> 
	</bean>
	<!-- 定义触发时间 --> 
	<bean id="freeMarker1" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail"> 
			<ref bean="updVoteRanking"/> 
		</property> 
		<!-- cron表达式 --> 
		<property name="cronExpression"> 
			<value>0 59 12 * * ?</value> 
		</property> 
	</bean>
	<!-- 定义调用对象和调用对象的方法 --> 
	<bean id="delVoteRanking" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<!-- 调用的类 --> 
		<property name="targetObject"> 
			<ref bean="timerService"/> 
		</property> 
		<!-- 调用类中的方法 --> 
		<property name="targetMethod"> 
			<value>delVoteRanking</value> 
		</property> 
	</bean> 
	<!-- 定义触发时间 --> 
	<bean id="freeMarkerdel" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail"> 
			<ref bean="delVoteRanking"/> 
		</property> 
		<!-- cron表达式 --> 
		<property name="cronExpression"> 
			<value>0 50 23 * * ?</value> 
		</property> 
	</bean>
	
	<!-- 定义调用对象和调用对象的方法 --> 
	<bean id="updFarmRanking" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<!-- 调用的类 --> 
		<property name="targetObject"> 
			<ref bean="timerService"/> 
		</property> 
		<!-- 调用类中的方法 --> 
		<property name="targetMethod"> 
			<value>updFarmRanking</value> 
		</property> 
	</bean> 
	<!-- 定义触发时间 --> 
	<bean id="freeMarkerfarm" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail"> 
			<ref bean="updFarmRanking"/> 
		</property> 
		<!-- cron表达式 --> 
		<property name="cronExpression"> 
			<value>0 0 23 * * ?</value> 
		</property> 
	</bean>
	
	<!-- 定义调用对象和调用对象的方法 --> 
	<bean id="updFarmRankingYd" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<!-- 调用的类 --> 
		<property name="targetObject"> 
			<ref bean="timerService"/> 
		</property> 
		<!-- 调用类中的方法 --> 
		<property name="targetMethod"> 
			<value>updFarmRankingYd</value> 
		</property> 
	</bean> 
	<!-- 定义触发时间 --> 
	<bean id="freeMarkerfarmYd" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail"> 
			<ref bean="updFarmRankingYd"/> 
		</property> 
		<!-- cron表达式 --> 
		<property name="cronExpression"> 
			<value>0 0 2 * * ?</value> 
		</property> 
	</bean>
	 
	
	<!-- 定义调用对象和调用对象的方法 --> 
	<bean id="updSales" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<!-- 调用的类 --> 
		<property name="targetObject"> 
			<ref bean="timerService"/> 
		</property> 
		<!-- 调用类中的方法 --> 
		<property name="targetMethod"> 
			<value>updSales</value> 
		</property> 
	</bean> 
	<!-- 定义触发时间 --> 
	<bean id="freeMarkerSales" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail"> 
			<ref bean="updSales"/> 
		</property> 
		<!-- cron表达式 --> 
		<property name="cronExpression"> 
			<value>59 59 23 * * ?</value> 
		</property> 
	</bean>
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序   --> 
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 
		<property name="triggers"> 
			<list>
				<ref bean="freeMarker"/> 
				<ref bean="freeMarker1"/> 
			    <ref bean="freeMarkerdel"/>
			    <ref bean="freeMarkerfarm"/>
			    <ref bean="freeMarkerfarmYd"/> 
			    <ref bean="freeMarkerSales"/>
			</list> 
		</property> 
	</bean> 

</beans>